/* all styles goes here */
body {
	/*background-color: #f0f0f0;*/
}

.container + .container {
	background: #abc;
}

header {
	background-color: #35b6ce;
	padding: 20px 0px 20px;
	color: #fff;
}

#yourimage {
	background-color: #cbcbcb;
	height: 185px;
}

#education {
	background-color: #fff;
	padding: 20px 0px 20px;
	color: #6a6a6a;
	/*visibility: hidden;*/
}

#experiance {
	background-color: #35b6ce;
	padding: 20px 0px 20px;
	color: #fff;
	visibility: hidden;
}

#skills {
	background-color: #fff;
	padding: 20px 0px 20px;
	color: #6a6a6a;
	visibility: hidden;
}

#footer {
	background-color: #35b6ce;
	color: #fff;
	visibility: hidden;
}

#footer p {
	margin: 5px 0px 5px;
}