/* all styles goes here */
body {
	/*background-color: #f0f0f0;*/
}

.container + .container {
	background: #abc;
}
section form {
	/*padding: 1em;*/
	margin-bottom: 1em;
	border-bottom: 1px solid #ccc;
}
section form:nth-child(even) {
	/*background: #ace;*/
}
.editor {
	margin-top: 1em;
}


#preview-mode h1 {
	color: black;
}
#preview-mode h2 {
	font-family: 'Lato';
	color: maroon;
	border-bottom: 1px solid;
	text-transform: capitalize;
}
#preview-mode .key {
	font-family: Georgia, serif;
	font-style: italic;
}