
#starter,
#modes {
	display: none;
}

h1,
h2,
h3,
h4 {
	margin-left: 6cm;
}

.row > div {
	/*display: inline-block; */
	display: block;
	float: left;
}
.col-md-4 {
	width: 5cm;
	/*background: red;*/
	text-align: right;
	margin-right: 1cm;
}
.col-md-8 {
	width: 11.5cm;
	/*background: blue;*/
}
.col-md-8.col-md-offset-4 {
	width: 18cm
}
.col-md-4 span,
.col-md-8 span {
	line-height: 1;
}